DATABASE_URL=postgres://postgres:admin@localhost:5433/bitcoin-indexer
NODE_RPC_URL=http://user:password@localhost:18443

# HEIGHT_TO_SYNC allows to start syncing from a specific height. 
# If is not present then indexer will be syncing from 0 or top max height in database

# HEIGHT_TO_SYNC=30_000 